body {
  font-family: "Poppins", sans-serif;
  background: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  max-width: 1220px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 64px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../images/bts-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 188px 0;
  text-align: center;
}

header h3 {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
}

header h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 128px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}

header a {
  border: none;
  border-radius: 100px;
  background: #8249d6;
  color: white;
  display: inline-block;
  margin-top: 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/bts-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
}

footer h3 {
  font-size: 20px;
  font-weight: 600;
}

footer p {
  opacity: 0.7;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: none;
  line-height: 30px;
  margin: 0;
  opacity: 0.7;
  padding: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.github {
  text-decoration: underline;
}

@media (max-width: 767px) {
  header {
    padding: 94px;
  }

  header h1 {
    font-size: 64px;
  }

  header h2 {
    font-size: 17px;
  }

  header h3 {
    font-size: 11px;
  }

  header a {
    font-size: 12px;
    padding: 12px 24px;
  }
}
