body {
  font-family: "Poppins", sans-serif;
  background: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("/images/bts-background-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 188px 0;
  text-align: center;
}

header h3 {
  font-size: 22px;
  margin: 0;
}

header h1 {
  font-family: "Aldrich", sans-serif;
  font-style: normal;
  font-size: 128px;
  letter-spacing: 10px;
  margin: 0;
  padding: 60px 0 30px 0;
}

header h2 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
}

header a {
  border: none;
  border-radius: 100px;
  background: #8249d6;
  color: white;
  display: inline-block;
  margin-top: 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
}

.about-grid {
  grid-template-columns: 1fr 1fr;
}

.img-responsive {
  max-width: 100%;
}

main h3 {
  color: #8249d6;
}

main h2 {
  color: white;
  font-family: "Aldrich", sans-serif;
  font-size: 48px;
}

main p {
  color: white;
}

.members {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/bts-background-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.members-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  background: rgba(255, 255, 255, 0.8);
}

.card-body {
  padding: 25px;
}

.card h4 {
  font-size: 24px;
  margin: 0 0 15px 0;
}

.card h5 {
  font-size: 16px;
  margin: 0;
}

.card p {
  color: black;
}

.card-footer {
  padding: 0 20px 20px;
}

.btn {
  display: block;
  border: none;
  background: #8249d6;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/bts-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.footer-grid {
  grid-template-columns: 1fr 2fr 2fr;
}

footer h3 {
  font-size: 20px;
  font-weight: 600;
}

footer p {
  opacity: 0.7;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: none;
  line-height: 30px;
  margin: 0;
  opacity: 0.7;
  padding: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.github {
  text-decoration: underline;
}

@media (max-width: 767px) {
  header {
    padding: 94px;
  }

  header h1 {
    font-size: 64px;
  }

  header h2 {
    font-size: 17px;
  }

  header h3 {
    font-size: 11px;
  }

  header a {
    font-size: 12px;
    padding: 12px 24px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  section {
    padding: 50px;
  }
}
